{% extends "base.html" %}

{% block title %}{% include "_brandname.html" %} :: 404{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block styles %}
{% endblock styles %}

{% block container %}
<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    <a href="base.html">&larr; Back to Home</a>
</div>

{% endblock container %}

{% block scripts %}
{% endblock scripts %}