<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <title>{% block title %}{% include "_brandname.html" %} :: Base {% endblock %}</title>
  <!-- Favicons -->
  <link href="{% static 'onepage/img/favicon.png' %}" rel="icon">
  <link href="{% static 'onepage/img/apple-touch-icon.png' %}%" rel="apple-touch-icon">

  {% block styles %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'onepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'onepage/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'onepage/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'onepage/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'onepage/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'onepage/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'onepage/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'onepage/css/style.css' %}" rel="stylesheet">
  {% endblock styles %}
</head>


<body>
  <!--================Header Menu Area =================-->
  {% block navbar %}
    {% include "_navbar.html" %}
  {% endblock navbar %}


  <!--================Content Area =================-->
  {% block content %}
    <div class="container">
    <h1>Base Page</h1>
    </div>
  {% endblock content %}


  {% block scripts %}
  <!-- Vendor JS Files -->
  <script src="{% static 'onepage/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'onepage/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'onepage/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'onepage/js/main.js' %}"></script>
  {% endblock scripts %}

</body>
</html>