<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% include "landing/_brandname.html" %} :: Base {% endblock %}</title>
  <link rel="icon" href="{% static 'parason/img/Fevicon.png' %}" type="image/png">

  {% block styles %}
  <link rel="stylesheet" href="{% static 'parason/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'parason/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'parason/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'parason/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'parason/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'parason/vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'parason/css/style.css' %}">
  {% endblock styles %}
</head>


<body>

  {% block header %}
  <!--================Header Menu Area =================-->

  {% include "_navbar.html" %}

  <!--================Header Menu Area =================-->
  {% endblock header %}

  {% block content %}
  <main class="side-main">

    <!--================ Start Clients Logo Area =================-->
    <section class="clients_logo_area section-padding">
      <div class="container">
        <div class="clients_slider owl-carousel">
          <div class="item">
            <img src="{% static 'parason/img/clients-logo/c-logo-1.png' %}" alt="">
          </div>
          <div class="item">
            <img src="{% static 'parason/img/clients-logo/c-logo-2.png' %}" alt="">
          </div>
          <div class="item">
            <img src="{% static 'parason/img/clients-logo/c-logo-3.png' %}" alt="">
          </div>
          <div class="item">
            <img src="{% static 'parason/img/clients-logo/c-logo-4.png' %}" alt="">
          </div>
          <div class="item">
            <img src="{% static 'parason/img/clients-logo/c-logo-5.png' %}" alt="">
          </div>
        </div>
      </div>
    </section>
    <!--================ End Clients Logo Area =================-->
  </main>


  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      Footers
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->
  {% endblock content %}

  {% block scripts %}
  <script src="{% static 'parason/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'parason/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'parason/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'parason/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'parason/js/mail-script.js' %}"></script>
  <script src="{% static 'parason/js/main.js' %}"></script>
  {% endblock scripts %}

</body>
</html>