{% extends "base.html" %}
<!-- Benefits of the Django application -->
{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block sidebar %}
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">
                        <i class="fas fa-fw fa-coins"></i>
                        <b>Summary</b> <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-fw fa-sticky-note"></i>
                        <b>Reminders</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <b>Reports</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-fw fa-edit"></i>
                        <b>Accounts</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-fw fa-chart-pie"></i>
                        <b>Budgets</b>
                    </a>
                </li>
            </ul>
            <!-- Divider -->
            <hr class="list-inline">
            <div class="sidebar-heading">
                <h4><b>Assets</b></h4>
                <h5><b>Cash</b></h5>
                {% for element in latest_asset_list %}
                {% if element.asset_type == "CASH" %}
                <div class="nav" style="width: 100%; overflow: hidden;">
                    <a href="#">
                    <div style="float: left;"> {{ element.asset_name }} </div>
                    <div align="right"> {{ element.asset_current_balance }} {{ element.asset_currency }}</div>
                    </a>
                </div>
                {%endif %}
                {%endfor %}

                <h5><b>Bank</b></h5>
                {% for element in latest_asset_list %}
                {% if element.asset_type == "BANK" %}
                <div class="nav" style="width: 100%; overflow: hidden;">
                    <a href="#">
                    <div style="float: left;"> {{ element.asset_name }} </div>
                    <div align="right"> {{ element.asset_current_balance }} {{ element.asset_currency }}</div>
                    </a>
                </div>
                {%endif %}
                {%endfor %}
            </div>
            <div class="sidebar-heading">
                <!--<i class="fas fa-fw fa-money-check-alt"></i>-->
                <h4><b>Incomes</b></h4>
            </div>
            <div class="sidebar-heading">
                <!--<i class="fas fa-fw fa-money-check-alt"></i>-->
                <h4><b>Expenses</b></h4>
            </div>
            <div class="sidebar-heading">
                <!--<i class="fas fa-fw fa-money-check-alt"></i>-->
                <h4><b>Liabilities</b></h4>
            </div>
            <!-- Divider -->
            <hr class="list-inline">
            {%endblock sidebar %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="starter-template">
                <h1>New Project</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            </div>
        </div><!-- /.main -->
    </div> <!-- end of row-->
</div><!-- /.container -->
{% endblock content %}