{% extends "accounts/login.html" %}

{% block title %}::Password Reset Email Sent{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Password Reset</h1>
            <p class="mb-4">Please reset your password</p>
          </div>
          <form method='POST' class="user">
            {% csrf_token %}
            <div class="form-group">
              {{ form|crispy }}
            </div>
            <input class="btn btn-primary btn-user btn-block" type="submit" value="Reset Password" />

          </form>
          <div class="text-center">
            <a class="small" href="{% url 'accounts:account_signup' %}">Create an Account!</a>
          </div>
          <div class="text-center">
            <a class="small" href="{% url 'accounts:account_login' %}">Already have an account? Login!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
