{% extends "accounts/login.html" %}

{% block title %}::Password Reset Email Sent{% endblock %}
{% load crispy_forms_tags %}

  {% block content %}
  <body class="bg-gradient-primary">

    <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">Password Reset</h1>
                      <p class="mb-4">Please reset your password</p>
                    </div>
                    <form action="{% url 'accounts:register' %}"" method='POST' class="user">
                        {% csrf_token %}
                        <div class="form-group">
                          {{ signup_form.email|as_crispy_field }}
                        </div>
                        <div class="form-group">
                          {{ signup_form.password1|as_crispy_field }}
                          </div>
                        <div class="form-group">
                          {{ signup_form.password2|as_crispy_field }}
                        </div>
                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Register Account" />

                      </form>
                    <div class="text-center">
                      <a class="small" href="{% url 'accounts:register' %}">Create an Account!</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="{% url 'accounts:login' %}">Already have an account? Login!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
  {% endblock content %}
