{% extends "accounts/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
          </div>

          <div class="text-center">
            <a href="{% url 'accounts:account_login' %}">
              Back to Login?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
