{% extends "accounts/base.html" %}

{% block title %}::Password Reset Email Sent{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Success!</h1>
            <p class="mb-4">You've successfully reset your password.</p>
          </div>

          <div class="text-center">
            <a href="{% url 'accounts:account_login' %}">
              Back to Login?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
